* {
    font-family: 'Open Sans', sans-serif;
    
}
.container {
    width: 1200px;
}

a {
    color: #fff;
}
li {
    padding-left: 2px;
}
input {
    margin-bottom: 10px;
}
h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
}
p {
    margin: 11.5px 11px 5.5px 12px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #696969;
}

nav {
    width: 100%; 
    height: 50px;
    background:#1eacc7;
}
.row {
    min-height: 107px;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}
.menu .menu_link {
    color: #524f4f;
    font-size: 15px;
    font-weight: 400;
    height: 5px;
    text-align: justify;
    text-transform: uppercase;
}
.menu .menu_item {
    width: 173px;
    height: 5px;
    margin: 24.5px 20px 20px 1.5px;
    text-align: justify;
    text-transform: uppercase;
    color: #656565;
}

.subheader .subheader_logo {
    display: block;
    max-width: 100px;
    margin-top: 40px;
    
}
.products {
    min-height: 800px;
    justify-content: space-between;
}
.products_item  {
    width: 240px;
    height: 320px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 8px 8px 80px 8px;
    box-shadow: #074858;
    margin-top: 30px;
}
.products_btn {
    border-radius:100%;
    background-color:#7db122;
    border:none;
    width: 45px;
    height: 45px;
}
.products_item_price {
    color: #7db122;
    font-size: 16px;
    font-weight: 400;  
}
.products_item_subtitle {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.products_item_img {
    margin-bottom: 11px;
}
.footer_products_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -42px 177px;
    width: 45px;
    height: 45px;
    background-color: #7eb123;
    border-radius: 100%;
}
.form__btn {
        width: 114px;
        height: 49px;
        margin: 9px 30px 0 30.5px;
        padding: 8.5px 12px 8px;
        background-color: #7eb123;
        border:none;
        color: #f5f5f5;
}
.products__form {
    border: 1px solid rgb(182, 181, 181);
    border-top: 4px solid #4cb1ca;
    padding: 22px 24px 25px 22px;
    width: 236px;
    height: 280px;
}
.delivery {
    padding: 15px 0 0 0;
    background:#1eacc7;
    min-height: 107px;
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}
.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: start;
    margin-bottom: 10px;
}
.delivery .delivery_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.delivery .delivery_block .delivery_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 61px;
    height: 61px;
    background-color: #ffffff;
    border-radius: 100%;
}
.delivery .delivery_block .delivery_descr {
    width: 343px;
}
.delivery .delivery_block .delivery_descr .delivery_subtitle{
    line-height: 21px;
    color: #f0f1f1;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
}
.delivery .delivery_block .delivery_descr .delivery_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}



.require {
    padding: 51px 0;
    min-height: 300px;
    background:#39a0b9;
}
.require_title {
    font-size: 20px;
    text-transform: uppercase;
    color: #f5f5f5;
    margin-bottom: 38px;
}
.require_list {
    color: #fff;
    list-style-type: none;
    padding-left: 0;
}
.footer_wrapper {
    min-height: 62px;
    background:#074858;
}
a.footer_social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 100%;
}
.footer_social {
    display: flex;
    justify-content: start;
}


/*Адаптация (доделать) */

@media (max-width: 1200px) {
.menu_item {
    padding-right: 20px;
}
.menu_link {
    font-size: 13px;
}
.delivery .delivery_block {
    align-items: flex-start
}
.products_item {
    width: 290px
}
}
	
@media (max-width: 991px) {
    .products__form {
        display: none;
    }
}
	
@media (max-width: 767px) {

}
		
@media (max-width: 575px) {

}
	

		
